@font-face {
  font-family: 'SIMPLIFICA';
  src: url('Font/SIMPLIFICA.ttf');
}

body{
    background: #35dc9b;
    background: linear-gradient(to bottom, #35dc9b, #3857af);
    font-family: 'Lora', serif;
    margin-left: 50px;
    margin-right: 50px;
}

header {
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 120px;
    width: auto;
    background: beige;
}

header .h1 {
  font-family: 'SIMPLIFICA';
}

.blog-title{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: small;
  font-style: italic;
}

.intro{
    text-align: center;
    font-weight: bold;
}

.articles {
    height: 700px;
    width: 800px;
    background: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container {
    background: beige;
    height: 850px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container .main-content {
    height: auto;
    margin: auto;
  }
  
  .container .main-content.single {
    background: white;
    padding: 20px 50px;
    font-size: 1.1em;
    border-radius: 5px;
  }

  .container .post{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 200px;
  }
  
  .container .main-content.single .post-title {
    text-align: center;
    margin-bottom: 40px;
  }
  .container .main-content.single .post-image{
    margin-top: 15px;
    height: 400px;
    width: 100%;
  }
  .container .main-content.single .post-image img{
    margin-top: 15px;
    height: 100%;
    width: 100%;
    
  }

.container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    margin-top: 5px;
    border: 1px solid green;
    width: 500px;
}

.call-to{
    margin-top: 5px;
    display: block;
    height: 100px;
    width: 300px;
    background: rgb(7, 160, 7);
    color: white;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    line-height: 100px;
    border-radius: 20px;
}

.green-arrow {
    animation: grow 2s ease-in-out infinite;
}

@keyframes grow {
    0% {
      font-size: 3em;
    }
    50% {
      font-size: 8em;
    }
    100% {
      font-size: 3em;
    }
}

.references{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

footer{
    margin-top: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #fff;
    border-radius: 10px;
    border-style: solid;
}

.footer-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}



