body{
    list-style-type: none;
    background: #35dc9b;
    background: linear-gradient(to bottom, #35dc9b, #3857af);
    height: 768px;
    font-family: Arial;
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile{
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 500px;
    margin-left: auto;
    margin-right: auto; 
    justify-content: center;
    align-items: center;
}

.profile-form {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    block-size: 400px;
    width: 500px;
    background: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.change-login{
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 500px;
    margin-left: auto;
    margin-right: auto; 
    justify-content: center;
    align-items: center;
}

.form-login{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    block-size: 400px;
    width: 500px;
    background: #fff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profile-comeback{
    display: flex;
    flex-direction: column;
    width: 500px;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.change-password{
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 500px;
    margin-left: auto;
    margin-right: auto; 
    justify-content: center;
    align-items: center;
}

.form-password{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    block-size: 400px;
    width: 500px;
    background: #fff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.change-password-confirm{
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 500px;
    margin-left: auto;
    margin-right: auto; 
    justify-content: center;
    align-items: center;
}

.form-password-confirm{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    block-size: 400px;
    width: 500px;
    background: #fff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input{
    width:100%;
    border: 2px solid black;
    border-radius: 4px;
    outline: none;
    width: 200px;
    padding: 8px;
    box-sizing: border-box;
}

input:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.login-comeback{
    background: #35dc9b;
    background: linear-gradient(to bottom, #35dc9b, #3857af);
    font-size: large;
    letter-spacing: 2px;
    width: 30%;
    height: 10%;
    border: 1px solid #35dc9b;;
    border-radius: 5px;
    outline: none;
}

.login-comeback:focus{
    background: #35dc9b;
    background: linear-gradient(to bottom, #35dc9b, #3857af);
    box-shadow: 0 0 8px 0 linear-gradient(to bottom, #35dc9b, #3857af);
}

.confirmed-password-comeback{
    background: #35dc9b;
    background: linear-gradient(to bottom, #35dc9b, #3857af);
    font-size: large;
    letter-spacing: 2px;
    width: 30%;
    height: 10%;
    border: 1px solid #35dc9b;;
    border-radius: 5px;
    outline: none;
}

.confirmed-password-comeback:focus{
    background: #35dc9b;
    background: linear-gradient(to bottom, #35dc9b, #3857af);
    box-shadow: 0 0 8px 0 linear-gradient(to bottom, #35dc9b, #3857af);
}

.password-comeback{
    background: #35dc9b;
    background: linear-gradient(to bottom, #35dc9b, #3857af);
    font-size: large;
    letter-spacing: 2px;
    width: 30%;
    height: 10%;
    border: 1px solid #35dc9b;;
    border-radius: 5px;
    outline: none;
}

.password-comeback:focus{
    background: #35dc9b;
    background: linear-gradient(to bottom, #35dc9b, #3857af);
    box-shadow: 0 0 8px 0 linear-gradient(to bottom, #35dc9b, #3857af);
}
