body{
    list-style-type: none;
    background: #35dc9b;
    background: linear-gradient(to bottom, #35dc9b, #3857af);
    font-family: Arial;
    height: 768px;
}

.title{
    text-align: center;
}

.hold-up-meme{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.back-arrow{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

footer{
    margin-top: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #fff;
    border-radius: 10px;
    border-style: solid;
}

.footer-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}