body{
    list-style-type: none;
    background: #35dc9b;
    background: linear-gradient(to bottom, #35dc9b, #3857af);
    font-family: Arial;
    height: 768px;
}

header {
    text-align: center;
}

.reg-div {
    display: flex;
    height: 400px;
    width: 500px; 
    justify-content: center;
    align-items: center;
}


.registration {
    margin-top: 50px;
    display: flex;
    block-size: 300px;
    width: 400px;
    background: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.registration-title {
    text-align: center;
}

.already-subscribed {
    margin-top: 15px;
}

.connexion-btn{
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.log-div {
    display: flex;
    justify-content: center;
}

.connexion {
    margin-top: 50px;
    display: flex;
    height: 400px;
    width: 500px; 
    background: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.connexion-title {
    text-align: center;
}

.not-subscribed {
    margin-top: 15px;
}

.registration-btn{
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: red;
    font-weight: bold;
}
