body{
    list-style-type: none;
    background: #35dc9b;
    background: linear-gradient(to bottom, #35dc9b, #3857af);
    font-family: Arial;
    height: 768px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: left;
}